Babel==2.5.1
bleach==2.1.2
certifi==2017.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
Django==2.0
django-admin==1.0.13
django-bootstrap4==0.0.4
django-debug-toolbar==1.11.1
django-enumchoicefield==0.9.0
django-excel-response2==2.0.8
django-extensions==1.9.8
django-formset-js==0.5.0
django-jquery-js==3.1.1
django-localflavor==1.6.2
django-markdownify==0.3.0
django-nose==1.4.5
django-phonenumber-field==1.3.0
django-polymorphic==1.3
django-rest==0.0.1
django-rest-framework==0.1.0
django-sitetree==1.9.0
django-six==1.0.4
djangorestframework==3.7.3
html5lib==1.0.1
idna==2.6
itypes==1.1.0
Jinja2==2.10
lxml==4.1.1
Markdown==2.6.10
MarkupSafe==1.0
nose==1.3.7
olefile==0.44
phonenumberslite==8.8.8
Pillow==4.3.0
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
screen==1.0.1
six==1.11.0
sqlparse==0.2.4
typing==3.6.2
uritemplate==3.0.0
urllib3==1.22
webencodings==0.5.1
Werkzeug==0.13
xlwt==1.3.0
